<!DOCTYPE html>
<html>
<head lang="ja">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>TraVerse</title>
    <link rel="icon" href="../images/freedrink.ico">
    <link href="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/reset.css" rel="stylesheet">
    <link rel="stylesheet" href="css/index.css">
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    <div id="splash">
        <div id="splash_logo">
            <img src="../images/freedrink.png" alt="" class="fadeUp">
        </div>
    </div>
    <main>
        <div class="center" id="container">
            <a class="btn btn-3d-flip btn-3d-flip2" onClick="window_open()">
                <span class="btn-3d-flip-box2">
                  <span class="btn-3d-flip-box-face btn-3d-flip-box-face--front2 my_english_font">TraVerse<i class="fas fa-angle-right fa-position-right"></i></span>
                  <span class="btn-3d-flip-box-face  btn-3d-flip-box-face--back2 my_japanese_font">ログイン画面へ</span><i class="fas fa-angle-right fa-position-right"></i></span>
                </span>
            </a>
        </div>
    </main>

    <script type="text/javascript">
        function window_open() {
            window.open("https://i-seifu-freedrink.com/select", 'META',"width=1380, height=821");
        }
    </script>
    <script type="text/javascript" src="js/index_design.js"></script>
</body>
</html>