<label class="selectbox-001">
    <select id="selectBox">
    </select>
</label>

<div id="threadRight" class="hidden"></div>

<script type="text/javascript" src="js/thread/initialize.js"></script>
<script type="text/javascript" src="js/thread/create_channel.js"></script>

<!-- <div id="createChannel">
    <input type="text" name="channelName" id="createChannelName">
    <input type="submit" value="作成" id="createChannelSubmit">
</div> -->