table {
    border-collapse: collapse;
    margin: auto;
}

td {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    text-align: center;
    font-size: 8px;
}

.red {
    background-color: red;
    z-index: 1000;
}
.yellow{
    background-color: yellow;
    z-index: 500;
}
.orange{
    background-color: orange;
}
/* .green{
    background-color: green;
} */